In [6]:
people = {
    'First':['Corey','Jane','John','Adam'],
    'Last':['Schafer','Doe','Doe','Doe'],
    'Email':['coreyschafer@gmail.com','Janedoe@gmail.com','Johndoe@gmail.com','A@gmail.com']
}

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

   First     Last                   Email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       Janedoe@gmail.com
2   John      Doe       Johndoe@gmail.com
3   Adam      Doe             A@gmail.com

In [10]:
df.sort_values(by='Last',ascending=False)

   First     Last                   Email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       Janedoe@gmail.com
2   John      Doe       Johndoe@gmail.com
3   Adam      Doe             A@gmail.com

In [11]:
df.sort_values(by=['Last','First'],ascending=False)

   First     Last                   Email
0  Corey  Schafer  coreyschafer@gmail.com
2   John      Doe       Johndoe@gmail.com
1   Jane      Doe       Janedoe@gmail.com
3   Adam      Doe             A@gmail.com

In [13]:
df.sort_values(by=['Last','First'],ascending=[False,True],inplace=True)

In [14]:
df

   First     Last                   Email
0  Corey  Schafer  coreyschafer@gmail.com
3   Adam      Doe             A@gmail.com
1   Jane      Doe       Janedoe@gmail.com
2   John      Doe       Johndoe@gmail.com

In [15]:
df.sort_index()

   First     Last                   Email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       Janedoe@gmail.com
2   John      Doe       Johndoe@gmail.com
3   Adam      Doe             A@gmail.com

In [16]:
df['Last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: Last, dtype: object