In [35]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Binarizer

In [36]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [37]:
df.drop(columns=['User ID', 'Gender'], inplace=True)

In [38]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [39]:
x = df.drop(columns=['Purchased'])
y = df['Purchased']

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [41]:
x_train

     Age  EstimatedSalary
3     27            57000
18    46            28000
202   39           134000
250   44            39000
274   57            26000
..   ...              ...
71    24            27000
106   26            35000
270   43           133000
348   39            77000
102   32            86000

[320 rows x 2 columns]

In [42]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
accuracy_score(y_test, y_pred)

0.8375

In [43]:
np.mean(cross_val_score(clf,x,y,cv=10, scoring='accuracy'))

0.8375

In [44]:
trf = ColumnTransformer([
    ('bin',Binarizer(threshold=50000, copy=False) , ['EstimatedSalary']),
], remainder='passthrough')

In [45]:
x_train_transformed = trf.fit_transform(x_train)
x_test_transformed = trf.transform(x_test)

In [46]:
pd.DataFrame(x_train_transformed, columns=['EstimatedSalary', 'Age'])

     EstimatedSalary  Age
0                  1   27
1                  0   46
2                  1   39
3                  0   44
4                  0   57
..               ...  ...
315                0   24
316                0   26
317                1   43
318                1   39
319                1   32

[320 rows x 2 columns]

In [47]:
clf = DecisionTreeClassifier()
clf.fit(x_train_transformed, y_train)
y_pred2 = clf.predict(x_test_transformed)
accuracy_score(y_test, y_pred2)

0.9